h2 {
    margin: 1.25rem 0;
  }
  .card {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1.25rem;
    border: none;
    background-color: #550686;
    color: #f4f4f4;
  }
 
  h3 {
    text-align: center;
  }
  h3 {
    font-size: 1.25rem;
  }
  
